<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <%= link_to users_backoffice_tweets_path, class:'navbar-item' do %>
        <span class='icon'>
          <i class='fa fa-twitter' style='font-size:64px;'></i>
        </span>
      <% end %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% unless user_signed_in? %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary is-small' %>
            <%= link_to 'Log in', new_user_session_path, class: 'button is-light is-small' %>
          <% else %>
            <%= link_to 'Log out', destroy_user_session_path(current_user), method: :delete, data: {confirm: 'Are you sure ?' }, class:"button is-danger is-small" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
