<div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <a>
        <%= link_to 'Tweets', users_backoffice_tweets_path %>
      </a>
    </li>
    <li>
      <a>
        <%= link_to 'Timeline', users_backoffice_timeline_path %>
      </a>
    </li>
    <li>
      <a>
        <%= link_to 'Meet User', users_backoffice_users_search_path %>
      </a>
    </li>
  </ul>
</div>