<p>
  <strong>User:</strong>
  <%= @tweet.user_id %>
</p>

<p>
  <strong>Declaration:</strong>
  <%= @tweet.declaration %>
</p>

<%= link_to 'Edit', edit_users_backoffice_tweet_path(@tweet) %> |
<%= link_to 'Back', users_backoffice_tweets_path %>
